
<h1>生徒へのサポート</h1>
<%= link_to "チャットの種類選択に戻る", autho_chat_path %><br><br>
<table>
    <tr>
        <th>生徒名</th><th>学校名</th><th></th>
    </tr>
<% @objects.each do |o| %>
    <tr>
        <td><%= o.userName unless o[:userName].blank? %></td>
        <td><%= o.schoolName unless o[:collage].blank? %></td>
        <td><%= link_to "チャットへ", autho_chat_support_room_path(:id => o.objectId) %></td>
    </tr>
<% end %>
</table>