<h1>教師への業務連絡</h1>
<table>
    <tr>
        <th>教師名</th><th>大学名</th><th></th>
    </tr>
<% @objects.each do |o| %>
    <tr>
        <td><%= o.userName %></td>
        <td><%= o.collage %></td>
        <td><%= link_to "チャットへ", autho_chat_command_room_path(:id => o.objectId) %></td>
    </tr>
<% end %>
</table>